<div class="title">
  <h1><%= @board.name %></h1>
</div>

<div class="board">
  <p class="float-right width-25"><a href="/boards/<%= @board.id %>">permalink</a></p>
  <div class="topics">
    <%= Enum.map(@board.topics, fn t ->
      render("board_topic.html", topic: t )
    end) %>
  </div>
</li>
